<div fxLayout="row wrap">
    <div *ngFor="let icon of icons" fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="25" class="flex-p"> 
        <mat-card fxLayout="column" fxLayoutAlign="center center">
            <mat-card-header>
                <mat-card-subtitle><mat-icon class="icon-lg">{{icon}}</mat-icon></mat-card-subtitle>
            </mat-card-header>
            <p class="w-100 text-truncate text-center">{{icon}}</p>  
        </mat-card>
    </div>
</div>

<div fxLayout="row">
    <div fxFlex="100" fxLayoutAlign="center center" class="flex-p"> 
        <a href="https://material.io/icons/" target="blank" mat-raised-button color="primary">More icons <mat-icon>more_horiz</mat-icon></a>
    </div>
</div>