<div fxLayout="column">
    <div class="flex-p">
        <mat-card>
            <mat-card-header>                
                <mat-card-subtitle><h2>Slider configuration</h2></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <section class="py-1">
                    <mat-form-field>
                        <input matInput type="number" placeholder="Value" [(ngModel)]="value">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="number" placeholder="Min value" [(ngModel)]="min">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="number" placeholder="Max value" [(ngModel)]="max">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="number" placeholder="Step size" [(ngModel)]="step">
                    </mat-form-field>
                </section>

                <section class="py-1">
                    <mat-checkbox [(ngModel)]="showTicks">Show ticks</mat-checkbox>
                    <mat-checkbox [(ngModel)]="autoTicks" *ngIf="showTicks">Auto ticks</mat-checkbox>
                    <mat-form-field *ngIf="showTicks && !autoTicks">
                        <input matInput type="number" placeholder="Tick interval" [(ngModel)]="tickInterval">
                    </mat-form-field>
                </section>

                <section class="py-1">
                    <mat-checkbox [(ngModel)]="thumbLabel">Show thumb label</mat-checkbox>
                </section>

                <section class="py-1">
                    <mat-checkbox [(ngModel)]="vertical">Vertical</mat-checkbox>
                    <mat-checkbox [(ngModel)]="invert">Inverted</mat-checkbox>
                </section>

                <section class="py-1">
                    <mat-checkbox [(ngModel)]="disabled">Disabled</mat-checkbox>
                </section>

                <hr>

                <h2 class="py-1">Result</h2>

                <mat-slider class="custom-slider"
                    [disabled]="disabled"
                    [invert]="invert"
                    [max]="max"
                    [min]="min"
                    [step]="step"
                    [thumbLabel]="thumbLabel"
                    [tickInterval]="tickInterval"
                    [(ngModel)]="value"
                    [vertical]="vertical">
                </mat-slider>
                            
            </mat-card-content>
        </mat-card>
    </div> 
</div>