<div fxLayout="column">
    <div class="flex-p">
        <mat-card>
            <mat-card-header>                
                <mat-card-subtitle><h2>Snackbar Overview</h2></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                  <input matInput value="Disco party!" placeholder="Message" #message>
                </mat-form-field>
                <mat-form-field>
                  <input matInput value="Dance" placeholder="Action" #action>
                </mat-form-field>
                <button mat-button color="primary" (click)="openSnackBar(message.value, action.value)">Show snack-bar</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>