<div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p"> 
        <mat-card class="p-0 chat">
            <mat-sidenav-container>
              <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="chat-sidenav mat-elevation-z1">
                  <mat-toolbar color="primary" class="p-0" fxLayout="row" fxLayoutAlign="space-between center">
                      <mat-list class="p-0">
                          <mat-list-item>
                              <img matListAvatar [src]="userImage">
                          </mat-list-item>
                      </mat-list>
                      <button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
                          <mat-icon>more_vert</mat-icon>
                      </button>                                     
                  </mat-toolbar>
                  <mat-menu #userMenu="matMenu" xPosition="before">
                      <span (mouseleave)="userMenuTrigger.closeMenu()">
                          <button mat-menu-item>
                              <mat-icon>account_circle</mat-icon>
                              <span>Profile</span>
                          </button>
                          <button mat-menu-item>
                              <mat-icon>settings</mat-icon>
                              <span>Settings</span>
                          </button>
                          <a mat-menu-item routerLink="/"> 
                              <mat-icon>power_settings_new</mat-icon>
                              <span>Exit chat</span>
                          </a>
                      </span>
                  </mat-menu> 
                  <mat-nav-list class="p-0 chat-sidenav-list" perfectScrollbar>
                      <mat-list-item *ngFor="let chat of chats" (click)="getChat(chat)">
                          <img matListAvatar [src]="chat.image">
                          <h6 matLine> {{chat.author}} </h6>
                          <p matLine fxLayout="row" fxLayoutAlign="none center" class="muted-text">
                              <span [ngSwitch]="chat.authorStatus">
                                  <mat-icon *ngSwitchCase="'Online'" class="chat-status-icon">check_circle</mat-icon>
                                  <mat-icon *ngSwitchCase="'Offline'" class="chat-status-icon">highlight_off</mat-icon>
                                  <mat-icon *ngSwitchCase="'Away'" class="chat-status-icon">schedule</mat-icon>
                                  <mat-icon *ngSwitchCase="'Do not disturb'" class="chat-status-icon">not_interested</mat-icon>
                              </span>
                              <span class="author-status">{{chat.authorStatus}}</span>
                          </p>
                      </mat-list-item>
                  </mat-nav-list>
              </mat-sidenav>
            
              <div>
                  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
                      <div fxLayout="row" fxLayoutAlign="start center">
                          <button mat-icon-button (click)="sidenav.toggle()">
                              <mat-icon>list</mat-icon>
                          </button>
                          <mat-list *ngIf="currentChat" class="p-0">
                              <mat-list-item>
                                  <img matListAvatar [src]="currentChat.image">
                              </mat-list-item>
                          </mat-list>
                          <span *ngIf="currentChat" class="author-name">{{currentChat.author}}</span>
                      </div>
                      <button mat-icon-button [matMenuTriggerFor]="personMenu" #personMenuTrigger="matMenuTrigger">
                          <mat-icon>more_vert</mat-icon>
                      </button> 
                  </mat-toolbar>
                  <mat-menu #personMenu="matMenu" xPosition="before">
                      <span (mouseleave)="personMenuTrigger.closeMenu()">
                          <button mat-menu-item>
                              <mat-icon>account_circle</mat-icon>
                              <span>Contact info</span>
                          </button>
                          <button mat-menu-item>
                              <mat-icon>volume_mute</mat-icon>
                              <span>Mute</span>
                          </button>
                          <button mat-menu-item> 
                              <mat-icon>delete_forever</mat-icon>
                              <span>Clear chat</span>
                          </button>
                      </span>
                  </mat-menu> 
                  <div class="chat-content" perfectScrollbar>
                      <mat-list *ngIf="talks" class="p-0" >
                          <mat-list-item *ngFor="let talk of talks" class="talk-item">
                              <img matListAvatar [src]="talk.image">
                              <p matLine class="message">
                                  <span [ngClass]="(talk.my) ? 'bg-primary' : 'bg-accent'">{{talk.text}}</span>
                              </p>                             
                              <p matLine class="message-date">
                                  <small>{{talk.date | date:"dd MMMM, yyyy 'at' HH:mm"}}</small>
                              </p> 
                          </mat-list-item>
                      </mat-list>
                      <div *ngIf="!talks" fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
                          <mat-icon>chat</mat-icon>            
                          <p>Select a interlocutor for talk</p>
                      </div> 
                  </div>
                  <mat-divider></mat-divider>
                  <mat-card class="chat-actions"> 
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Enter your text..." (keyup)="sendMessage($event)" [(ngModel)]="newMessage">
                          </mat-form-field>
                          <div fxLayout="row" fxLayoutAlign="scenter center">
                              <button mat-icon-button type="button">
                                  <mat-icon>attach_file</mat-icon>
                              </button>
                              <button mat-mini-fab color="primary" type="button" (click)="sendMessage($event)">
                                  <mat-icon>send</mat-icon>
                              </button>
                          </div>
                        </div>
                  </mat-card>
              </div>
            
            </mat-sidenav-container>
        </mat-card>
      </div>
</div>
